.home {
  /* background-color: rgb(21, 21, 21); */
  display: block;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  /* background-color: #042f15; */
  background: linear-gradient(to bottom, #021409, #042f15);
  color: #fff;
  padding: 20px;
}

#title-main {
  margin: 0 auto;
  margin-top: 70px;
  padding: 5px;
  width: 45%;
  font-size: 50px;
  text-align: center;
  color: whitesmoke;
  font-family: "Ephesis", cursive;
  font-family: "Noto Sans", sans-serif;
  font-family: "Nunito", sans-serif;
  border-radius: 30px;
  background-color: #14a547;
  background: linear-gradient(to bottom, #1db954, #156633);
}

.header {
  text-align: center;
}

.title {
  color: #1db954;
  font-size: 2.5em;
  margin: 0;
}

.subtitle {
  color: #bdbdbd;
  font-size: 1.2em;
}

.featured-playlist,
.recently-played {
  margin-top: 30px;
}

h2 {
  color: #1db954;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.music-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.music-card {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }

  .music-info {
    padding: 10px;
    background-color: #121212;

    h3 {
      margin: 0;
      font-size: 16px;
    }

    p {
      margin: 5px 0;
      font-size: 14px;
      color: #777;
    }
  }
}
